<html>
  <head>
    <title>Create your Gossip</title>
  </head>
  <body>
    <h1>Create a Gossip!</h1>
    <p>Share your gossip via the form below</p>
    <form action='/gossips/new/' method='POST'>
      Enter your name here:  <input type='text' name='gossip_author'/><br/>
      Share your gossip: <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>
