<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gossip</title>
</head>
<body>
  <h1>Gossip de <%= @gossip.author %></h1>
  <p><%= @gossip.content %></p>
  
  <a href="/">Retour à l'accueil</a>
</body>
</html>